In [7]:
# 1. Write a Python program to create a MySQL database and connect with the database and print the version of the MySQL database.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()
mycursor.execute("create database vipulpython3")
connection.commit()
mycursor = connection.cursor()
mycursor.execute("SELECT VERSION()")
data = mycursor.fetchone()
print("MySQL database version:", data)

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
<mysql.connector.connection.MySQLConnection object at 0x000002BCAE927CD0>
connection succesfull
MySQL database version: ('10.4.27-MariaDB',)

In [9]:
# 2. Write a Python program to connect a database and create a MySQL table within the database.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")
import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="vipulpython")


mycursor=connection.cursor()
mycursor.execute("create table studentlist(name varchar(20),enrollent int(20))")

connection.commit()

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA

In [10]:
# 3. Write a Python program to list the tables of a given MySQL database file.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()
mycursor.execute('show tables')
for i in mycursor:
     print(i)
connection.commit()

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
<mysql.connector.connection.MySQLConnection object at 0x000002BCAC6054D0>
connection succesfull
('studentlist',)
('studentlist1',)

In [12]:
# 4. Write a Python program to create a table and insert some records in that table. Finally selects all rows from the table and display the records.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()
# mycursor.execute("create table studentlist2(name varchar(20),enrollent int(20))")
mycursor.execute('insert into studentlist2 values("vipul" ,1); ')
for i in mycursor:
    print(i)

connection.commit()

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
<mysql.connector.connection.MySQLConnection object at 0x000002BCAEA5C6D0>
connection succesfull

In [13]:
# 5. Write a Python program to insert a list of records into a given MySQL table.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()

sql = "INSERT INTO studentlist (name, enrollent) VALUES (%s, %s)"
val = [('mahesh',111),('mahesh',111),('mahesh',111),('mahesh',111)]
mycursor.executemany(sql, val)
connection.commit()

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
<mysql.connector.connection.MySQLConnection object at 0x000002BCAEF47DD0>
connection succesfull

In [30]:
# 6. Write a Python program to insert values to a table from user input.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="attandance"
)

name = input("Enter name: ")
enrolment= input("Enter Enrolment: ")

sql = "INSERT INTO studentlist (enrollent,name) VALUES (%s, %s)"

mycursor = mydb.cursor()
val = (name, enrolment)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
1 record inserted.

In [14]:
# 7. Write a Python program to count the number of rows of a given MySQL table.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="attandance"
)

sql = "SELECT COUNT(*) FROM studentlist"

mycursor = mydb.cursor()
mycursor.execute(sql)
data = mycursor.fetchone()

print("Number of rows:", data[0])

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
Number of rows: 15

In [ ]:
# 8. Write a Python program to update a specific column value of a given table and select all rows before and after updating the said table.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")


import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="attandance"
)

sql = "SELECT * FROM studentlist"
mycursor = mydb.cursor()
mycursor.execute(sql)

data_before = mycursor.fetchall()
sql = "UPDATE studentlist SET name = %s WHERE id = %s"
mycursor = mydb.cursor()
mycursor.execute(sql, ("Enrollment", 21)) 
mydb.commit()

sql = "SELECT * FROM studentlist"

mycursor = mydb.cursor()
mycursor.execute(sql)
data_after = mycursor.fetchall()

print("Rows before updating:")
for row in data_before:
    print(row)
    
print("\nRows after updating:")
for row in data_after:
    print(row)

In [23]:
# 9. Write a Python program to update all the values of a specific column of a given MySQL table.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="attandance"
)

sql = "UPDATE studentlist SET name = %s"

mycursor = mydb.cursor()
mycursor.execute(sql, ("myname",))  
mydb.commit()

print(mycursor.rowcount, "rows updated.")

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
15 rows updated.

In [25]:
# 10. Write a Python program to delete a specific row from a given MySQL table.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="attandance"
)

sql = "DELETE FROM studentlist WHERE enrollent = %s"
mycursor = mydb.cursor()
mycursor.execute(sql, (1,)) 

mydb.commit()

print(mycursor.rowcount, "row deleted.")

name:       Jadav Vipul
Enrollment: 21SOECE11031
Class:      4CEA
5 row deleted.

In [ ]:
# 11. Write a Python program to alter a given MySQL table.
print("name:       Jadav Vipul")
print("Enrollment: 21SOECE11031")
print("Class:      4CEA")

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="attandance"
)
sql = "ALTER TABLE studentlist ADD COLUMN class VARCHAR(255)"
mycursor = mydb.cursor()
mycursor.execute(sql)
print("Table altered.")