In [2]:
import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()
#mycursor.execute("create database attandance")
#mycursor.execute("create table studentlist(name varchar(20),enrollent int(20))")
mycursor.execute('insert into studentlist values("vipul" ,1); ')
# for i in mycursor:
#     print(i)

# sql = "INSERT INTO studentlist (name, enrollent) VALUES (%s, %s)"
# val = ("harpal", "2")
# mycursor.execute(sql, val)
connection.commit()

<mysql.connector.connection.MySQLConnection object at 0x000001CD8EF36310>
connection succesfull

In [3]:
import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()
mycursor.execute('show tables')
for i in mycursor:
     print(i)
connection.commit()

<mysql.connector.connection.MySQLConnection object at 0x000001CD8F74E150>
connection succesfull
('studentlist',)
('studentlist1',)

In [28]:
import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()

sql = "INSERT INTO studentlist (name, enrollent) VALUES (%s, %s)"
val = [('mahesh',111),('mahesh',111),('mahesh',111),('mahesh',111)]
mycursor.executemany(sql, val)
connection.commit()

<mysql.connector.connection.MySQLConnection object at 0x0000020C27291C90>
connection succesfull

In [38]:
import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()

# mycursor.execute("create table studentlist1(Name varchar(20),Enrollment int(20),Email_ID varchar(50),Mobile_Number int(10))")

# mycursor.execute("INSERT INTO studentlist1 VALUES ('ADITY',25,'vjadva520@rku.ac.in',9023978985)")
sql = "INSERT INTO studentlist1 (Name, Enrollment ,Email_Id ,Mobile_Number) VALUES (%s, %s, %s, %s)"
val = [('mahesh',111,'vipuljadav542@gmail.com',9978477562),('mahesh',111,'hdabhi45@gmail.com',9099333418),('jeel',125,'gorjeel54@gmail.com',7046347490)]
mycursor.executemany(sql, val)
connection.commit()

<mysql.connector.connection.MySQLConnection object at 0x0000020C285E8A50>
connection succesfull

In [2]:
import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="",database="attandance")
print(connection)
if(connection):
    print("connection succesfull")
else:
    print("connection failed")

mycursor=connection.cursor()

# mycursor.execute("create table studentlist1(Name varchar(20),Enrollment int(20),Email_ID varchar(50),Mobile_Number int(10))")

mycursor.execute("select * from studentlist1")
myresult=mycursor.fetchall()
for row in myresult:
    print(row)

connection.commit()


# crud operation
#create gui and take database name and table name
#

<mysql.connector.connection.MySQLConnection object at 0x0000018772DF7210>
connection succesfull
('vipul', 31, 'vjadva219@rku.ac.in', 9023978985)
('JEEL', 25, 'vjadva2120@rku.ac.in', 9023978985)
('ADITY', 25, 'vjadva520@rku.ac.in', 9023978985)
('mahesh', 111, 'vipuljadav542@gmail.com', 9978477562)
('mahesh', 111, 'hdabhi45@gmail.com', 9099333418)
('jeel', 125, 'gorjeel54@gmail.com', 7046347490)